
.vs/EcoRodovias/config/applicationhost.config
.vs/EcoRodovias/v16/.suo
.vs/EcoRodovias/v16/Server/sqlite3/storage.ide
.vs/EcoRodovias/v16/Server/sqlite3/storage.ide-shm
.vs/EcoRodovias/v16/Server/sqlite3/storage.ide-wal
bin/Debug/netcoreapp3.0/EcoRodovias.deps.json
bin/Debug/netcoreapp3.0/EcoRodovias.dll
bin/Debug/netcoreapp3.0/EcoRodovias.pdb
bin/Debug/netcoreapp3.0/EcoRodovias.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/EcoRodovias.Views.dll
bin/Debug/netcoreapp3.0/EcoRodovias.Views.pdb
bin/Release/netcoreapp3.0/appsettings.Development.json
bin/Release/netcoreapp3.0/appsettings.json
bin/Release/netcoreapp3.0/EcoRodovias.deps.json
bin/Release/netcoreapp3.0/EcoRodovias.dll
bin/Release/netcoreapp3.0/EcoRodovias.exe
bin/Release/netcoreapp3.0/EcoRodovias.pdb
bin/Release/netcoreapp3.0/EcoRodovias.runtimeconfig.dev.json
bin/Release/netcoreapp3.0/EcoRodovias.runtimeconfig.json
bin/Release/netcoreapp3.0/EcoRodovias.Views.dll
bin/Release/netcoreapp3.0/EcoRodovias.Views.pdb
bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.dll
bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Release/netcoreapp3.0/Oracle.EntityFrameworkCore.dll
bin/Release/netcoreapp3.0/Oracle.ManagedDataAccess.dll
bin/Release/netcoreapp3.0/Properties/launchSettings.json
bin/Release/netcoreapp3.0/Remotion.Linq.dll
bin/Release/netcoreapp3.0/System.Interactive.Async.dll
EcoRodovias.csproj.user
obj/Debug/netcoreapp3.0/EcoRodovias.assets.cache
obj/Debug/netcoreapp3.0/EcoRodovias.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/EcoRodovias.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/EcoRodovias.dll
obj/Debug/netcoreapp3.0/EcoRodovias.pdb
obj/Debug/netcoreapp3.0/EcoRodovias.Views.dll
obj/Debug/netcoreapp3.0/EcoRodovias.Views.pdb
obj/Debug/netcoreapp3.0/PubTmp/EcoRodovias.Parameters.xml
obj/Debug/netcoreapp3.0/PubTmp/EcoRodovias.SourceManifest.xml
obj/Debug/netcoreapp3.0/PubTmp/Out/appsettings.Development.json
obj/Debug/netcoreapp3.0/PubTmp/Out/appsettings.json
obj/Debug/netcoreapp3.0/PubTmp/Out/appsettings.production.json
obj/Debug/netcoreapp3.0/PubTmp/Out/EcoRodovias.deps.json
obj/Debug/netcoreapp3.0/PubTmp/Out/EcoRodovias.dll
obj/Debug/netcoreapp3.0/PubTmp/Out/EcoRodovias.exe
obj/Debug/netcoreapp3.0/PubTmp/Out/EcoRodovias.pdb
obj/Debug/netcoreapp3.0/PubTmp/Out/EcoRodovias.runtimeconfig.json
obj/Debug/netcoreapp3.0/PubTmp/Out/EcoRodovias.Views.dll
obj/Debug/netcoreapp3.0/PubTmp/Out/EcoRodovias.Views.pdb
obj/Debug/netcoreapp3.0/PubTmp/Out/Microsoft.EntityFrameworkCore.Abstractions.dll
obj/Debug/netcoreapp3.0/PubTmp/Out/Microsoft.EntityFrameworkCore.dll
obj/Debug/netcoreapp3.0/PubTmp/Out/Microsoft.EntityFrameworkCore.Relational.dll
obj/Debug/netcoreapp3.0/PubTmp/Out/Oracle.EntityFrameworkCore.dll
obj/Debug/netcoreapp3.0/PubTmp/Out/Oracle.ManagedDataAccess.dll
obj/Debug/netcoreapp3.0/PubTmp/Out/Remotion.Linq.dll
obj/Debug/netcoreapp3.0/PubTmp/Out/System.Interactive.Async.dll
obj/Debug/netcoreapp3.0/PubTmp/Out/web.config
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/css/site.css
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/favicon.ico
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/js/site.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.css
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/LICENSE
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/additional-methods.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/jquery.validate.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation/LICENSE.md
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.min.js
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.min.map
obj/Debug/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery/LICENSE.txt
obj/Debug/netcoreapp3.0/Razor/Pages/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Pages/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Pages/Error.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Pages/Index.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Pages/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/EcoRodovias.csproj.nuget.cache
obj/EcoRodovias.csproj.nuget.dgspec.json
obj/EcoRodovias.csproj.nuget.g.props
obj/project.assets.json
obj/Release/netcoreapp3.0/EcoRodovias.AssemblyInfo.cs
obj/Release/netcoreapp3.0/EcoRodovias.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.0/EcoRodovias.assets.cache
obj/Release/netcoreapp3.0/EcoRodovias.csproj.CopyComplete
obj/Release/netcoreapp3.0/EcoRodovias.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.0/EcoRodovias.csprojAssemblyReference.cache
obj/Release/netcoreapp3.0/EcoRodovias.dll
obj/Release/netcoreapp3.0/EcoRodovias.exe
obj/Release/netcoreapp3.0/EcoRodovias.MvcApplicationPartsAssemblyInfo.cache
obj/Release/netcoreapp3.0/EcoRodovias.pdb
obj/Release/netcoreapp3.0/EcoRodovias.RazorAssemblyInfo.cache
obj/Release/netcoreapp3.0/EcoRodovias.RazorAssemblyInfo.cs
obj/Release/netcoreapp3.0/EcoRodovias.RazorCoreGenerate.cache
obj/Release/netcoreapp3.0/EcoRodovias.RazorTargetAssemblyInfo.cache
obj/Release/netcoreapp3.0/EcoRodovias.RazorTargetAssemblyInfo.cs
obj/Release/netcoreapp3.0/EcoRodovias.TagHelpers.input.cache
obj/Release/netcoreapp3.0/EcoRodovias.TagHelpers.output.cache
obj/Release/netcoreapp3.0/EcoRodovias.Views.dll
obj/Release/netcoreapp3.0/EcoRodovias.Views.pdb
obj/Release/netcoreapp3.0/PubTmp/EcoRodovias.Parameters.xml
obj/Release/netcoreapp3.0/PubTmp/EcoRodovias.SourceManifest.xml
obj/Release/netcoreapp3.0/PubTmp/Out/appsettings.Development.json
obj/Release/netcoreapp3.0/PubTmp/Out/appsettings.json
obj/Release/netcoreapp3.0/PubTmp/Out/appsettings.production.json
obj/Release/netcoreapp3.0/PubTmp/Out/EcoRodovias.deps.json
obj/Release/netcoreapp3.0/PubTmp/Out/EcoRodovias.dll
obj/Release/netcoreapp3.0/PubTmp/Out/EcoRodovias.exe
obj/Release/netcoreapp3.0/PubTmp/Out/EcoRodovias.pdb
obj/Release/netcoreapp3.0/PubTmp/Out/EcoRodovias.runtimeconfig.json
obj/Release/netcoreapp3.0/PubTmp/Out/EcoRodovias.Views.dll
obj/Release/netcoreapp3.0/PubTmp/Out/EcoRodovias.Views.pdb
obj/Release/netcoreapp3.0/PubTmp/Out/Microsoft.EntityFrameworkCore.Abstractions.dll
obj/Release/netcoreapp3.0/PubTmp/Out/Microsoft.EntityFrameworkCore.dll
obj/Release/netcoreapp3.0/PubTmp/Out/Microsoft.EntityFrameworkCore.Relational.dll
obj/Release/netcoreapp3.0/PubTmp/Out/Oracle.EntityFrameworkCore.dll
obj/Release/netcoreapp3.0/PubTmp/Out/Oracle.ManagedDataAccess.dll
obj/Release/netcoreapp3.0/PubTmp/Out/Remotion.Linq.dll
obj/Release/netcoreapp3.0/PubTmp/Out/System.Interactive.Async.dll
obj/Release/netcoreapp3.0/PubTmp/Out/web.config
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/css/site.css
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/favicon.ico
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/js/site.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.css
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/bootstrap/LICENSE
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/additional-methods.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/jquery.validate.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery-validation/LICENSE.md
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.min.js
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.min.map
obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/lib/jquery/LICENSE.txt
obj/Release/netcoreapp3.0/Razor/Pages/_ViewImports.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Pages/_ViewStart.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Pages/Error.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Pages/Index.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Pages/Privacy.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Release/netcoreapp3.0/staticwebassets/EcoRodovias.StaticWebAssets.Manifest.cache
obj/Release/netcoreapp3.0/staticwebassets/EcoRodovias.StaticWebAssets.xml
Properties/PublishProfiles/eco-rodovias - Web Deploy.pubxml
Properties/PublishProfiles/eco-rodovias - Web Deploy.pubxml.user
